compute_environment: LOCAL_MACHINE
debug: false
distributed_type: DEEPSPEED
mixed_precision: bf16
num_machines: 1
num_processes: 6
machine_rank: 0
same_network: true
rdzv_backend: static
tpu_use_cluster: false
tpu_use_sudo: false
tpu_env: []
use_cpu: false
downcast_bf16: 'no'
main_training_function: main
deepspeed_config:
  deepspeed_multinode_launcher: standard
  # Explicit ZeRO config block to satisfy Accelerate/DeepSpeed
  zero_optimization:
    stage: 3
    offload_param:
      device: cpu
    offload_optimizer:
      device: cpu
    stage3_param_persistence_threshold: 0
    overlap_comm: true
    # Smaller buckets to make ZeRO-3 all-gathers finish more reliably
    reduce_bucket_size: 1e7
    allgather_bucket_size: 1e7
  zero_stage: 3
  zero3_init_flag: true
  zero3_save_16bit_model: true
